<DModalBody @title="fingerprint.details">
  <table class="fingerprint">
    <tbody>
      {{#each-in data as |key value|}}
        <tr>
          <td class="key">{{key}}</td>
          <td class="value">{{value}}</td>
        </tr>
      {{/each-in}}
    </tbody>
  </table>
</DModalBody>

<div class="modal-footer">
  <DModalCancel @close={{action "closeModal"}} />
</div>