{{#d-modal-body title="fingerprint.details"}}
  <table class="fingerprint">
    <tbody>
      {{#each-in data as |key value|}}
        <tr>
          <td class="key">{{key}}</td>
          <td class="value">{{value}}</td>
        </tr>
      {{/each-in}}
    </tbody>
  </table>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-modal-cancel close=(action "closeModal")}}
</div>
